<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icone"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icone"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".fragmentos.ErroConexao" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".DetalhesCursoBradesco"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".DetalhesCursoEmVideo"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".splashScreen.Splash"
            android:theme="@style/Theme.AppCompat.TelaCheia"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>